* {
    margin: 0%;
    
}


/* body  */
body {

    font-family: Lato;

   
}


/* header part design with section */
.primary {
    background: rgba(229, 84, 115, 0.10);
      
}
 
 
.container {
    padding: 50px 240px 0px 240px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 0%;
    width: 708px;
    height: 288px;
    flex-direction: column;
    flex-shrink: 0;
    }
.para {
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    width: 580px;
    flex-direction: column;
    flex-shrink: 0;

}
.btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;
}

.container .main-picture {

    
    width: 500px;
}


/* main section featured part */
.featured {

    padding: 50px 500px;
    border-radius: 10px;
    background-color: #FFF;;
    margin: 130px 0px;
   
}

.title-section {
 
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }

.para-section {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* main section featured image part */

.featured-image {

    display: flex;
    margin: 0px 100px;
    align-items: center;
    width: 200px;
    height: 300px;

}

.f1 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
    margin-right: 10px;
     
   
    }


.f1 .img1 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    

}

.f2 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
    margin-right: 10px;
}

.f2 .img2 {

    width: 370px;
    height: 370px;
    flex-shrink: 0;
}

.f3 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67PX 75PX 0PX 75PX;
}

.f3 .img3 {
    width: 314px;
    height: 471px;
    flex-shrink: 0;
}


/* free content */

.free-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    margin: 20px 200px;
    text-align: center;
     
     
}
.free {
    padding: 20px 20px;

    
}
.free h3 {

    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    
}

.free img {

    width: 88px;
    height: 88px;
    flex-shrink: 0;
}

/* hot deal part  */

.deal-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    padding: 50px 240px 20px 240px;
}

.deal-title {

    
     
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 0%;
}
.deal .dored {
    color: #E55473;
}

.deal-para {

    
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 5px 0px;
}

.btn-primary {


    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;

}


/* instagram part  */
.instagram {

    margin-top: 60px;
}

.insta-title {

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 30px; 
}
.insta-para {
    /* display: flex; */
    /* width: 550px; */
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* padding: 30px 150px; */
    
}
.instagram-image {
    display: flex;
    margin: 20px 60px;
    padding-top: 30px;

}

