* {
    margin: 0%;
    
}


/* body  */
body {

    font-family: Lato;

   
}


/* header part design with section */
.primary {
    background: rgba(229, 84, 115, 0.10);
      
}
 
 
.container {
    padding: 50px 240px 0px 240px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 80px;
    font-weight: 800;
    padding-bottom: 0%;
    width: 708px;
    height: 288px;
    flex-direction: column;
    flex-shrink: 0;
    }
.para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    width: 580px;
    flex-direction: column;
    flex-shrink: 0;

}
.btn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;
}

.container .main-picture {

    
    width: 500px;
}


/* main section featured part */
.featured {

    padding: 50px 500px;
    border-radius: 10px;
    background-color: #FFF;;
    margin: 130px 0px;
   
}

.title-section {
 
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    }

.des-section {

    /* color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; */

    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


/* live tree part and extra part*/

.live-tree {

    margin-top: 60px;
    justify-content: center;
    background: rgba(229, 84, 115, 0.10);
}

.tree-title {

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 30px; 
    margin-top: 60px;
}
.tree-para {
    
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    
}
.tree-image {
    display: flex;
    margin: 20px 60px;
    padding-top: 30px;
    border-radius: 8px;
    justify-content: center;
}

/* main section featured image part */

.featured-image {

    display: flex;
    margin: 0px 100px;
    align-items: center;
    width: 200px;
    height: 300px;

}

.f1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 50px 40px;
}


/* .f1 .img1 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
} */

.f2 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 50px 40px;
}

/* .f2 .img2 {

    width: 370px;
    height: 370px;
    flex-shrink: 0;
} */

.f3 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 50px 40px;
    
}

/* .f3 .img3 {
    width: 314px;
    height: 471px;
    flex-shrink: 0;
} */

/* ancor name  */

.ancor-name {

    display: flex;
    justify-content: space-around;
}


/* free content */

.free-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    margin: 20px 200px;
    text-align: center;
    justify-content: center;
     
     
}
.free {
    padding: 20px 20px;

    
}
.free h3 {

    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    
}

.free img {

    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

/* hot deal part  */

.deal-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    padding: 50px 240px 20px 240px;
    justify-content: center;
}

.deal-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 0%;
}
.deal .dored {
    color: #E55473;
}

.deal-para {

    
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 5px 0px;
}

.btn-primary {


    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px;
    text-align: center;

}




/* instagram part  */
.instagram {

    margin-top: 60px;
}

.insta-title {

    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-bottom: 30px; 
}
.insta-para {
    /* display: flex; */
    /* width: 550px; */
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* padding: 30px 150px; */
    
}
.instagram-image {
    display: flex;
    margin: 20px 60px;
    padding-top: 30px;

}
/* latest deal search  */

.latest-deal {

    border-radius: 8px;
    background-image: url(../bg_img/Rectangle9.png);
    background-repeat:  no-repeat;
    margin-top: 100px;
    margin-left: 60px;
    width: 1300px;
    height: 449px;
    flex-shrink: 0;
    padding: 60px 50px;
    
    /* border: 1px solid blue; */
    
}


.l-deal-title {

    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 50px;
}
.l-deal-para {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
}
.form input[type="email"] {

    border-radius: 8px;
    background: #FFF;
    width: 600px;
    height: 64px;
    flex-shrink: 0;
    border: none;
}

.form input[type="email"]::placeholder {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;

}

.sub-btn {

    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700px
}

.foot {

    background-color: black;
    width: 1420px;
    height: 150px;
    flex-shrink: 0;
    padding: 100px 50px;


}
/* .content-all {
    align-items: center;
    justify-content: center;
} */

.content-title {
    text-align: center;
    color: white;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.red-title {
    color: #E55473;
}

.content-para {
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 30px;
    
}
.mail {
    text-align: center;
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 
.featured-section{
    margin-top: 60px;
}

.feature-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.feature-heading h2{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    
}

.feature-heading> div{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-heading>div>p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
}

.image-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    column-gap: 20px;   
}

.image-container>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.image-container>div>img{
    width: 220px;
    height: 300px;
}

.image-container>div>a{
    margin-top: 15px;
}

.free-section{
    margin-top: 60px;
}

.deal> button{
    margin-left: 50px;
}